$color-fondo: black;
$color-contenido: green;
$color-formulario: rgb(189, 140, 140);
$Background-color-menusuperior: rgb(65, 65, 65);
$background-color-descripcion: rgba(219, 214, 214, 0.925);
$colordescripcion:white;