$font-size-menusuperior: 17px;
$font-size-piedepagina: 20px;
$font-family-menusuperior: sans-serif;
$font-family-descripcionnosotros: cursive;
$font-family-contenido: poppins, sans-serif;
$font-family-table: Arial, Helvetica, sans-serif, sans-serif;
$paddingdescripcion: 10px 20px;